<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <img src="<%= "/user_images/#{@user.image_partner}" %>">
      <% if @user.id == @current_user.id %>
        <P><%= link_to("編集", "/users/#{@user.id}/edit") %></P>
      <% end %>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
    </div>
    
    <ul class="user-tabs">
      <li class="active"><%= link_to(@user.name, "/users/#{@user.id}") %></li>
      <li><%= link_to(@user.partner_name, "/users/#{@user.id}/partner_pay") %></li>
    </ul>
    
    <% @users.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
            <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= post.pay_name %>
          </div>
          <%= link_to("#{post.pay_month.to_s(:month)} 支払金額#{post.payment.to_s(:delimited)}円 カテゴリ：#{post.category.name}", "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
    
    <%= paginate @users %>

  </div>
</div>