<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}", method: :patch) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>支払者</p>
            <p><%= select_tag :pay_name, options_for_select([@current_user.name, @current_user.partner_name], :selected => @post.pay_name) %></p>
          <p>支払月</p>
            <p><%= date_select :pay_month, :date, :discard_day => true, :use_month_numbers => true, default: @post.pay_month %></p>
          <p>カテゴリ</p>
            <%= collection_select(:category_id,:keys, Category.all, :id, :name) %>
          <p>支払金額</p>
            <input type="tel" name="payment" style="width:30%;height:30px;" value=<%= @post.payment %> />
          <p>メモ</p>
            <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>