<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>支払者</p>
          <%= select_tag 'pay_name', options_for_select([@current_user.name, "パートナー"]) %>
          <p>支払月</p>
          <%= date_select :pay_date, :date, :discard_day => true, :use_month_numbers => true %>
          <p>支払代</p>
          <input type="tel" name="payment"/>
          <p>メモ</p>
          <textarea name="content"><%= @post.content %></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>