<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <% if @post.pay_name == @current_user.name %>
          <img src="<%= "/user_images/#{@post.user.image_name}" %>">
        <% else %>
          <img src="<%= "/user_images/#{@post.user.image_partner}" %>">
        <% end %>
        <%= link_to(@post.pay_name, "/users/#{@user.id}") %>
      </div>
      <p><%= "カテゴリ：#{@post.category.name}" %></p>
      <p><%= "支払額：#{@post.payment}円" %></p>
      <p><%= "メモ：#{@post.content}" %></p>

      <div class="post-time">
        <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
      </div>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      <% end %>
    </div>
  </div>
</div>