<!DOCTYPE html>
<html>
  <head>
    <title>WarikanApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <header>
      <div class="header-logo">
        <% if @current_user %>
          <%= link_to("ワリカンパートナー", "/posts/index/#{@current_user.id}") %>
        <% else %>
          <%= link_to("ワリカンパートナー", "/") %>
        <% end %>
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("投稿一覧", "/posts/index/#{@current_user.id}") %>
          </li>
          <li>
          <%= link_to "月別生活費", "/posts/month_index/#{@current_user.id}" %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/users/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("ワリカンパートナーとは", "/about") %>
          </li>
          <li>
            <%= link_to("新規登録", "/users/new") %>
          </li>
          <li>
            <%= link_to("ログイン", "/users/login_form") %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>